{% extends 'main.html' %}
{% load static %}
{% block title %}
    Профиль
{% endblock title %}
{% block content %}
    <div class="px-5">
        {% with total_items=order_history_items|length %}
        {% if total_items > 0 %}
        <h1 class="mb-4">заказ {{ order.id }}</h1>
        {%  for item in order_history_items %}
        <div class="row d-flex align-items-center text-center mb-3">
            <div class="col-3">
                 <a href="{{ product.get_absolute_url }}">
                     <img src="{% if item.image %} {{ item.image.url }} {% else %} {% static 'img/hello.jpg' %} {% endif %}"
                          class="object-fit-cover border rounded" style="width: 200px; height: 200px;">
                 </a>
            </div>
            <div class="col">
                <a href="{{ product.get_absolute_url }}" class="text-decoration-none hover-link fw-semibold">
                    {{ item.product}}
                </a>
            </div>
            <div class="col-2">
                {{ item.quantity}}
            </div>
            <div class="col-2">
                {{ item.get_cost}} руб
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="mb-4">заказ пуст</h1>
        {% endif %}
        {% endwith %}
    </div>
{% endblock content %}