{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}
    Регистрация
{% endblock title %}
{% block form %}
    <form class="form-signin col-4 m-auto" method="post">
        {% csrf_token %}
        <h1 class="mb-4">Регистрация</h1>
        <h5 class="mb-2">Имя</h5>
        {% render_field form.username class="form-control w-100 mb-4" %}
        <div class="error text-danger">{{ form.username.errors.as_ul }}</div>
        {% for error in form.username.errors %}
        {% blocktrans %}
        <div class="error text-danger">{{ error }}</div>
        {% endblocktrans %}
        {% endfor %}

        <h5 class="mb-2">Пароль</h5>
        {% render_field form.password1 class="form-control w-100 mb-4" %}
        <div class="error text-danger">{{ form.password1.errors.as_ul }}</div>
        {% for error in form.password1.errors %}
        {% blocktrans %}
        <div class="error text-danger">{{ error }}</div>
        {% endblocktrans %}
        {% endfor %}

        <h5 class="mb-2">Подтвердите пароль</h5>
        {% render_field form.password2 class="form-control w-100 mb-2" %}
        {% for error in form.password2.errors %}
        {% blocktrans %}
        <div class="error text-danger">{{ error }}</div>
        {% endblocktrans %}
        {% endfor %}

        <button class="btn btn-success mt-4 w-100" type="submit">
            Зарегистрироваться
        </button>
    </form>
{% endblock form %}