{% extends 'main.html' %}
{% load static %}
{% block title %}
    Избранное
{% endblock title %}
{% block content %}
    {% if request.session.favorites %}
    <h1 class="mb-4">Избранное</h1>
    {% for item in request.session.favorites %}
        {% for product in products %}
            {% if product.id|stringformat:"i" == item.id %}
            <div class="row d-flex align-items-center text-center mb-3">
                <div class="col-3">
                     <a href="{{ product.get_absolute_url }}">
                         <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/hello.jpg' %} {% endif %}"
                              class="object-fit-cover border rounded" style="width: 200px; height: 200px;">
                     </a>
                </div>
                <div class="col">
                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none hover-link fw-semibold">
                        {{ product.name }}
                    </a>
                </div>
                <div class="col-2">
                    {{ product.price }} ₽
                </div>
                <div class="col">
                    <form action="{% url 'cart_add' product.id %}" method="post" class="d-flex justify-content-between">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="купить" class="btn btn-do pt-1 pb-2 ms-3 fw-semibold text-light btn-buy">
                    </form>
                </div>
                <div class="col-1 text-end">
                    <button type="button" class="btn btn-delete pt-1 pb-2" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </button>
                    <div class="modal fade" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModal{{ product.id }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body px-2 py-3 text-center">
                                    удалить {{ product.name }} из избранного?
                                </div>
                                <div class="modal-footer border-0 d-flex justify-content-between">
                                    <button type="button" class="btn btn-signup pt-1 pb-2" data-bs-dismiss="modal">отмена</button>
                                    <form action="{% url 'favorites_list_remove' product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="url_from" value="{{ request.path }}">
                                        <button type="submit" class="btn btn-delete-2 pt-1 pb-2">удалить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% else %}
    <h1 class="text-center">в избранном пусто</h1>
    {% endif %}
{% endblock content %}