{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}
    Вход
{% endblock title %}
{% block form %}
<div class="col-4 m-auto">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h1 class="mb-4">Вход</h1>
        <h5 class="mb-2">Имя</h5>
        {% render_field form.username class="form-control w-100 mb-4" %}
        <h5 class="mb-2">Пароль</h5>
        {% render_field form.password class="form-control w-100 mb-2" %}

        {% for error in form.non_field_errors %}
        {% blocktrans %}
        <div class="error text-danger">{{ error }}</div>
        {% endblocktrans %}
        {% endfor %}

        <button class="btn btn-success mt-4 w-100" type="submit" id="login_btn">
            Войти
        </button>
    </form>
<!--Registration-->
    <a href="{% url 'signup' %}">
        <button class="btn mt-4 w-100 btn-outline-secondary" type="button">
            Зарегистрироваться
        </button>
    </a>
</div>
{% endblock form %}

