{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Корзина
{% endblock title %}
{% block content %}
{% with total_items=cart|length %}
{% if total_items > 0 %}
<h1 class="mb-4">Корзина</h1>
<div class="px-5">
    <div class="mb-5">
        {% for item in cart %}
        {% with product=item.product %}
        <div class="d-flex pb-5 border-bottom">
            <div class="w-25 me-4">
                <a href="{{ product.get_absolute_url }}">
                     <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/logo.jpg' %} {% endif %}"
                          class="object-fit-cover border rounded w-100">
                 </a>
                <div class="">
                        <button type="button" class="btn btn-danger w-100 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}">
                            Удалить
                        </button>
                        <form method="post" action="">
                        {% csrf_token %}
                            <div class="modal fade" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModal{{ product.id }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header border-0">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body px-2 py-3 text-center">
                                            Удалить {{ product.name }} из корзины?
                                        </div>
                                        <div class="modal-footer border-0 d-flex justify-content-between">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Oтмена</button>
                                            <a href="{% url 'cart_remove' product.id %}" class="btn btn-danger">
                                                Удалить
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="w-100">
                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">
                        <h3>{{ product.name }}</h3>
                    </a>
                <form action="{% url 'cart_add' product.id %}" method="post" class="d-flex mt-4 w-50">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <button type="submit" class="ms-2 btn btn-outline-secondary pt-1 pb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                        </svg>
                    </button>
                    {% csrf_token %}
                </form>
                <div class="mt-4 fw-semibold">
                    {{ item.total_price }} руб
                </div>
            </div>

        </div>
        {% endwith %}
        {% endfor %}
    </div>

    <div class="text-center mb-5 col-6 m-auto">
        <form action="{% url 'apply' %}" method="post" class="d-flex mb-5">
            {% csrf_token %}
            {% render_field promocode_apply_form.code class="form-control text-center" placeholder="купон" %}
            <button type="submit" class="ms-2 btn btn-outline-secondary pt-1 pb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </button>
        </form>
        <div class="mb-4">
            <div class="row mb-2">
                <div class="col text-start">Товары ({{ total_items }})</div>
                <div class="col text-end fw-semibold">{{ cart.get_total_price }} руб</div>
            </div>
            <div class="row mb-2">
                {% if cart.promocode %}
                <div class="col text-start">{{ cart.promocode.code }}</div>
                <div class="col text-end fw-semibold">-{{ cart.get_discount|floatformat:"2" }} руб</div>
                {% else %}
                <div class="col text-start">Скидка</div>
                <div class="col text-end fw-semibold">0 руб</div>
                {% endif %}
            </div>
            <div class="row mb-2">
                <div class="col text-start">Итого</div>
                <div class="col text-end fw-semibold">{{ cart.get_total_price_after_discount|floatformat:"2" }} руб</div>
            </div>
        </div>
        <a href="{% url 'order_create' %}">
            <button type="button" class="btn btn-success w-100">Оформить</button>
        </a>
    </div>
</div>
{% else %}
    <h1 class="text-center">Корзина пуста</h1>
{% endif %}
{% endwith %}
{% endblock content %}