{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Корзина
{% endblock title %}
{% block content %}
{% with total_items=cart|length %}
{% if total_items > 0 %}
<h1 class="mb-4">корзина</h1>
<div class="px-5">
    <div class="mb-5">
        {% for item in cart %}
        {% with product=item.product %}
        <div class="row d-flex align-items-center text-center mb-3">
            <div class="col-3">
                 <a href="{{ product.get_absolute_url }}">
                     <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/hello.jpg' %} {% endif %}"
                          class="object-fit-cover border rounded" style="width: 200px; height: 200px;">
                 </a>
            </div>
            <div class="col">
                <a href="{{ product.get_absolute_url }}" class="text-decoration-none hover-link fw-semibold">
                    {{ product.name }}
                </a>
            </div>
            <div class="col-2">
                <form action="{% url 'cart_add' product.id %}" method="post" class="d-flex">
                    {{ item.update_quantity_form.quantity }} {{ item.update_quantity_form.update }}
                    <button type="submit" class="ms-2 btn btn-refresh pt-1 pb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                        </svg>
                    </button>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-2">
                {{ item.total_price }} ₽
            </div>
            <div class="col-1 text-end">
                <button type="button" class="btn btn-delete pt-1 pb-2" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </button>
                <form method="post" action="">
                {% csrf_token %}
                    <div class="modal fade" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModal{{ product.id }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body px-2 py-3 text-center">
                                    удалить {{ product.name }} из корзины?
                                </div>
                                <div class="modal-footer border-0 d-flex justify-content-between">
                                    <button type="button" class="btn btn-signup pt-1 pb-2" data-bs-dismiss="modal">отмена</button>
                                    <a href="{% url 'cart_remove' product.id %}" class="btn btn-delete-2 pt-1 pb-2">
                                        удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>

    <div class="text-center mb-5 col-6 m-auto">
        <h5 class="mb-4">
            <div class="row mb-3">
                <div class="col text-start">товары ({{ total_items }})</div>
                <div class="col text-end">{{ cart.get_total_price }} ₽</div>
            </div>
            <div class="row mb-3">
                {% if cart.promocode %}
                <div class="col text-start">{{ cart.promocode.code }}</div>
                <div class="col text-end">-{{ cart.get_discount|floatformat:"2" }} ₽</div>
                {% else %}
                <div class="col text-start">скидка</div>
                <div class="col text-end">0 ₽</div>
                {% endif %}
            </div>
            <div class="row mb-3">
                <div class="col text-start">итого</div>
                <div class="col text-end">{{ cart.get_total_price_after_discount|floatformat:"2" }} ₽</div>
            </div>
        </h5>
        <form action="{% url 'apply' %}" method="post" class="d-flex mb-5">
            {% csrf_token %}
            {% render_field promocode_apply_form.code class="form-control text-center" placeholder="промокод" %}
            <button type="submit" class="ms-2 btn btn-refresh pt-1 pb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </button>
        </form>
        <a href="{% url 'order_create' %}">
            <button type="button" class="btn btn-success pt-1 pb-2 w-100 fw-semibold text-light btn-buy">оформить заказ</button>
        </a>
    </div>
</div>
{% else %}
    <h1 class="text-center">корзина пуста</h1>
{% endif %}
{% endwith %}
{% endblock content %}