{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Каталог
{% endblock title %}
{% block content %}
<h1 class="mb-4">Каталог</h1>
<form method="get" class="text-lowercase text-center mb-3 d-flex">
    {% render_field filter.form.s class="form-control" %}
    <button type="submit" class="btn pt-1 pb-2 ms-2 btn-outline-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </button>
</form>
<div class="d-flex justify-content-between align-items-end mb-5">
    <form method="get" class="d-flex justify-content-between w-100 me-2">
             <div class="col-2">
                 <div class="fw-semibold">Тип мебели</div>
                {% render_field filter.form.type class="form-control" %}
             </div>
             <div class="col-2">
                 <div class="fw-semibold">Материал</div>
                {% render_field filter.form.material class="form-control" %}
             </div>
             <div class="col-2">
                 <div class="fw-semibold">Производитель</div>
                {% render_field filter.form.brand class="form-control" %}
             </div>
             <div class="col-2">
                 <div class="fw-semibold">Цена</div>
                {% render_field filter.form.o class="form-control" %}
             </div>
            <div class="mt-auto">
                <button type="submit" class="btn btn-success ms-2">Применить</button>
            </div>
     </form>
    <a href="{%  url 'product_list' %}">
        <button class="btn btn-outline-secondary">Сбросить</button>
    </a>
</div>

        <div class="row row-cols-2 row-cols-md-4 g-3">
            {% for product in filter.qs %}
            <div class="col">
                <div class="card">
                    <a href="{{ product.get_absolute_url }}"
                       class="text-decoration-none text-black">
                        <img src="{% if product.image %}
                                    {{ product.image.url }}
                                    {% else %}
                                    {% static 'img/logo.jpg' %}
                                    {% endif %}"
                             class="card-img-top">
                        <div class="card-body text-center border-top">
                            <div class="card-title text-truncate">{{ product.name }}</div>
                            <h5 class="card-text">{{ product.price }} руб</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock content %}